* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: blanchedalmond;
}

.logo {
  display: block;
  margin: 20px 0 0 100px;
}

.magazin-name {
  font-size: 70px;
}

.cart-button,
.buy-btn {
  margin: 30px 100px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #C34848;
  padding: .7em 1.5em;
  outline: none;
  border: none;
}

.cart-button:hover,
.buy-btn:hover {
  background: transparent;
  color: #C34848;
  outline: 1px solid #C34848;
}

.cart-button:active,
.buy-btn:active {
  background: #C34848;
  color: #fff;
}

.main {
  width: 100%;
  background-color: azure;
}

.goods-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 295px;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}

.product_img {
  display: block;
  margin: 0 auto;
}

h3,
p {
  text-align: center;
}
