* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: blanchedalmond;
}

.logo {
  display: block;
  margin: 20px 0 0 100px;
  width: 80px;
  height: 60px;
}

.magazin-name {
  font-size: 70px;
}

.cart-button {
  margin: 30px 100px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #C34848;
  padding: 5px;
  outline: none;
  border: none;
}

.cart-button:hover {
  background: rgb(232, 95, 76);
}

.cart-button:active {
  background: #C34848;
}

.main {
  width: 100%;
  background-color: azure;
}

.goods-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 250px;
  align-items: center;
  border: 1px solid black;
  margin: 10px 0;
  padding-top: 20px;
}

.product_img {
  display: block;
  align-items: center;
}

.main {
  align-items: center;
}

h3, p {
  text-align: center;
  padding: 5px;
}